body
{
    background-color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

header
{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 3px grey;
}

header li
{
    display: inline;
    padding-left: 45px;
}

header li a
{
    color: #333;
    text-decoration: none;
    padding: 13px;
    transition: .2s ;
}

header li a:hover
{
    background-color: lightgrey;
    border-radius: 30px;
}

header ul #about a
{
    float: right;
    position: relative;
    top: -15px
}

header ul #contact a
{
    float: right;
    position: relative;
    top: -15px;
}

header li img
{
    width: 60px;
    float: left;
    margin-top: -20px ;
    margin-left: -30px;
}

.active
{
    color: royalblue;
}

